.square {
  display: inline-block;
  font-size: 45px;
  border: 1px solid black;
  height: 45px;
  width: 45px;
}

.row {
  display: inline-block;
  margin: 5px 5px;
}

.board {
  text-align: center;
  margin-top: 50px;
}